body {
    background-color: white;
    margin: 0;
}

.navbar {
    background-color: rgba(44, 44, 46, 0.692);
    height: 60px;
    z-index: 1;
}
.navbar-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}
h3 a {
    text-decoration: none;
    color: white;
    padding-right: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li {
    float: right;
}
  
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown-list:hover {
    background-color: rgba(60, 60, 63, 0.692);
}


.main{

    height: 50dvh;
    width: 100%;
    z-index: 0;
    background-color: darkgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-content{
    background-color: rgb(80, 79, 79);
    width: 30%;
    height: 30%;
    border-radius: 5px;
}
h1{
    text-align: center;
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 5;
}
.products-info {
    width: 200px;
    margin: 20px;
    background-color: lightgrey;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.products-info a {
    text-decoration: none;
    color: black;

}
.products-info a:hover {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
}